<tr class='{{class}} '>
  <td class='border-t border-gray-300 px-4 py-3'>
    {{date}}
  </td>
  <td class='border-t border-gray-300 px-4 py-3'>
    {{endDate}}
  </td>
  <td class='border-t border-gray-300 px-4 py-3'>
    {{orderNumber}}
  </td>
  <td class='border-t border-gray-300 px-4 py-3'>
    {{docNumber}}
  </td>
  <td class='border-t border-gray-300 px-4 py-3'>{{reference}}</td>
  <td class='border-t border-gray-300 px-4 py-3'>
    {{total}}
    €
  </td>
  <td class='border-t border-gray-300 px-4 py-3'>
    {{htva}}
    €
  </td>
  <td class='border-t border-gray-300 px-4 py-3 text-center'>
    <button
      class='cursor-pointer text-red-400 transition duration-300 hover:text-blue-500'
    >
      <svg viewBox='0 0 20 20' class='w-5 fill-current' aria-hidden='true'>
        <path
          d='M10.7 11.7131C10.31 12.1031 9.68001 12.1031 9.29001 11.7131H9.30001L4.30001 6.71305C3.91001 6.32305 3.91001 5.69305 4.30001 5.30305C4.69001 4.91305 5.32001 4.91305 5.71001 5.30305L9.00001 8.59305V1.00305C9.00001 0.453052 9.45001 0.00305176 10 0.00305176C10.55 0.00305176 11 0.453052 11 1.00305V8.59305L14.29 5.30305C14.68 4.91305 15.31 4.91305 15.7 5.30305C16.09 5.69305 16.09 6.32305 15.7 6.71305L10.7 11.7131ZM18 12.0031C18 11.4531 18.45 11.0031 19 11.0031C19.55 11.0031 20 11.4531 20 12.0031V16.0031C20 18.2131 18.21 20.0031 16 20.0031H4C1.79 20.0031 0 18.2131 0 16.0031V12.0031C0 11.4531 0.45 11.0031 1 11.0031C1.55 11.0031 2 11.4531 2 12.0031V16.0031C2 17.1031 2.9 18.0031 4 18.0031H16C17.1 18.0031 18 17.1031 18 16.0031V12.0031Z'
        />
      </svg>
      <span class='sr-only'>Supprimer</span>
    </button>
  </td>
</tr>